     <h1><center>THE PITCH APP</center><h1><hr>
       <div>

    </div>
    <div >
      <ul>
      <div>
        <a href="/"> Pitch </a><br><br>
        <a href="/">Category</a><br><br>
        <a href="/Interview">Interview</a><br><br>
        <a href="/Pickupline">Pickup line</a><br><br>
        <a href="/Promotion">Promotion</a><br><br>
       </ul>

      <div>
      <ul class="nav navbar-nav navbar-none">
        {% if current_user.is_authenticated %}
        <li style="color:white;padding:15px;">{{current_user.username}}</li>
        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
        {%endif%}
      </ul>
    </div>
  </div>
